body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2a211c;
    color: #bfbfbf;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #302a25;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

h1 {
    color: #ff9d00;
}

label {
    display: block;
    margin-top: 10px;
    color: #bfbfbf;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    background-color: #4d4540;
    color: #bfbfbf;
    border: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff9d00;
    color: #2a211c;
    border: none;
    border-radius: 4px;
}

pre {
    margin-top: 20px;
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    background-color: #4d4540;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #2a211c;
    color: #bfbfbf;
}

.copyright { 
    margin-top: 20px;
    color: #666;
    font-size: 12px;
}